@model IEnumerable<SchoolJournal.Models.DB.JournalRecord>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="AddMark" asp-route-pupilId="@Model.FirstOrDefault().PupilId">Добавить оценку</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
            </tr>
        }
    </tbody>
</table>      