@model IEnumerable<SchoolJournal.Models.DB.Stream>

@{
    ViewData["Title"] = "Школьный Журнал";
}

<h1>Потоки</h1>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Добавить поток</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Started)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Started)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentClass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCompleted)
                </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Детали</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>            